.card-height {
    height: 400px;
    color: black;
}
.rowHeight {
    height: 70vh;
}
.card-search {
    position: absolute;
    width: 93.8%;
    z-index: 1;
    margin-top: -17px;
    cursor: pointer;
    background: rgba(230, 230, 230, .9);
}
.box-search:hover {
    text-decoration: underline;
}